---
import { Header, Button, Footer } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			mckp
		</span>
	</Header>
	<div id="page">
		<slot />
	</div>
	
</Layout>

